Outdir=$ccSAGdir/example  #Output directory of cleaned contigs and reads or intermediate files
Seqdir=$ccSAGdir/example/Rawdata  #Directory containing input pairend read files
cleanedcontig=cleaned_merge_contigs.fasta  #Cleaned contigs
spades_option="-m 256 --sc --disable-rr --careful"  #Assemble condition without input fastq
