Outdir=$ccSAGdir/example  #Output directory of clamped contigs and intermediate files
Rawreaddir=$ccSAGdir/example/Rawdata  #Directory containing input pairend read files for assembling contig clamps
cleaned_contig=$ccSAGdir/example/cleaned_merge_contigs.fasta  #Output cleaned contigs of ccSAG_cross_reference_cleaning.sh
outcontig=clamped_contigs.fasta  #Output clamped contigs
spades_option="-m 256 --sc --disable-rr --careful --disable-gzip-output"  #Assemble condition without input fastq
