Outdir=XXXX/ccSAG/example  #Output directory of clamped contigs and intermediate files
Rawreaddir=XXXX/ccSAG/example/Rawdata  #Directory containing input pairend read files for assembling contig clamps
cleaned_contig=XXXX/ccSAG/example/cleaned_merge_contigs.fasta  #Output cleaned contigs of ccSAG_cross_reference_cleaning.sh
outcontig=clamped_contigs.fasta  #Output clamped contigs
spades_option="-m 256 --sc --disable-rr --careful"  #Assemble condition without input fastq
