Outdir=XXXX/ccSAG/example  #Output directory of cleaned contigs and reads or intermediate files
Seqdir=XXXX/ccSAG/example/Rawdata  #Directory containing input pairend read files
cleanedcontig=cleaned.fasta  #Cleaned contigs
spades_option="-m 256 --sc --disable-rr --careful --disable-gzip-output "  #Assemble condition without input fastq and output folder
